<div *ngIf="ActiveTournament == undefined">
  <p>
    These are the tournaments you are in! Please select one for more details
  </p>
  <div
    *ngFor="let tournament of TournamentsUserIsIn"
    class="card"
    style="width: 18rem;"
  >
    <div class="card-body">
      <h5 class="card-title">{{ tournament.tournamentName }}</h5>
      <p class="card-text">Created by: {{ tournament.creatorUsername }}</p>
      <p class="card-text">Game Type: {{ tournament.gameType }}</p>

      <a (click)="displayActiveTournament(tournament)" class="btn btn-primary"
        >See Details</a
      >
    </div>
  </div>
</div>

<div *ngIf="ActiveTournament != undefined">
  <p>
    active-tournaments works! {{ ActiveTournament }}
    {{ ActiveTournament.tournamentName }}
  </p>
  <div *ngFor="let player of ActiveTournament">
    <p>{{ player.userId }} {{ player.username }} {{ player.tournamentId }}</p>
  </div>
  <p>here is player ID</p>
  <div *ngFor="let playerID of RiotIdData">
    <p>
      {{ playerID.accountId }}
    </p>
  </div>
  <p>PLAYER MATCHES</p>


  <div *ngFor="let data of RiotMatches">
    <div *ngFor="let match of data.matches">
    <p>
        {{data.accountid}} {{ match.champion }} {{ match.gameId }} {{ match.lane }}, {{ match.queue }}
        {{ match.timestamp }}    
      </p>
  </div>
  </div>
  </div>


